.main {
  background-image: url(../img/bckgrnd.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Madimi One', sans-serif;
}

.h2 {
  font-family: 'Madimi One', sans-serif;
}
.vs {
  font-family: 'Madimi One', sans-serif;
  align-self: center;
}
.selectbtn {
  font-family: 'Courier New', Courier, monospace;
  height: 40px;
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  padding: 10px;
}
.btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 0;
  cursor: pointer;
  height: 40px;
}
.btn:hover {
  transform: scale(1.2);
}
.pchange {
    font-family: 'Madimi One', sans-serif;

  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.hidden {
  display: none;
}
.play {
  display: flex;

  gap: 10px;
  font-weight: bold;
}
.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emoji {
  font-size: 35px;
}
.disapeared {
  display: none;
}
